@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

body{
    background-color: #F5F8FF;
}

img{
    width: 100%;
    
}

/* shared style */

.container{
    max-width: 1140px;
    margin: 0 auto;
}

.flex{
    display: flex;
}

.noto{
    font-family: "Noto Serif", serif;
}

.orange{
    color: #E95A08;
}

.section-title{
    font-size: 3rem;
    font-weight: 700;
    line-height: 4.2rem;
}

.p-text{
    color: #00000080;
    font-size: 1.25rem;
    font-weight: 400;
}

/* navbar style */

.navbar {
    justify-content: space-between;
    margin-top:54px ;
    align-items: center;
}

.nav-logo{
    font-weight: 800;
    font-size: 2.5rem;
    margin-top: 0;
}

.nav-logo span{
    color: #E95A08;
}

.nav-links{
    list-style: none;
    gap: 48px;
}


.nav-links li:nth-child(1) a {
  font-weight: 700;
  color: #252432;
}

.nav-links li:nth-child(2) a,
.nav-links li:nth-child(3) a{
    font-weight: 400;
    color: #8987A1;
}

.nav-links a{
    text-decoration: none;
}

.nav-right{
    gap: 48px;
}

/* hero section style */

.hero{
    margin-top: 120px;
    align-items: flex-end;

}

.hero-content{
    flex: 1;
}
.hero-title{
    font-weight: 700;
    font-size: 4rem;
}

.hero-image img{
    width: 100%;
    display: block;
    flex: 1;
}

/* plants section style */

.plants{
    margin-top: 120px;
}

.plants-content{
    text-align: center;
}
.plants-des{
    margin-top: 16px;
}

.plants-card-container{
    margin-top: 48px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    column-gap: 20px;
    row-gap: 30px;
}

.card{
    /* max-width: 270px; */
    text-align: center;
}

.card-image {
    max-width: 100%;
}

.flower-name{
    font-size: 1.4rem;
    font-weight: 500;
    margin-top: 30px;
}
.flower-price{
    font-weight: 700;
    font-size: 1.4rem;
    margin: 20px 0 30px 0;
}

.card-btn{
    width: 100%;
    background-color: #E95A08;
    color: rgb(255, 255, 255);
    font-weight: 600;
    padding: 12px 0px;
    border: none;
    font-size: 1rem;
}


/* lover section style */

.lover{
    margin-top: 212px;
    display: flex;
    gap: 80px;
}

.lover-image{
    position: relative;
    /* flex: 1; */
}
.lover-hero-image{
    width: 100%;
}

.lover-badge{
    width: 250px;
    height: 250px;
    position: absolute;
    transform: translate(-60%, -40%);

    /* margin-left: -160px ;
    margin-top: -120px; */
   
}

.lover-content{
    max-width: 540px;
    padding-top: 30px;
}

.lover-des{
    padding-left: 25px;
}

.lover-des li{
    margin-top: 20px;
}


/* deal section style */

.deal{
    margin-top: 120px;
}

.deal-content{
    text-align: center;
}

.deal-des{
    max-width: 888px;
    margin: 16px auto;
}

.deal-collage{
    margin-top: 120px;
    display: grid;
    grid-template-columns: 2fr 4fr;
    /* grid-template-rows: 1fr 1fr; */
    gap: 30px;
    color: white;
}

.deal-collage a{
    color: white;
    font-size: 1.2rem;
}

.left-collage-title{
    font-weight: 700;
    font-size: 1.25rem;
}
.right-collage-title{
    font-size: 700;
    font-size: 2rem;
}

.left-top{
    /* color: white; */
    grid-column: 1/2;
    height: 170px;
    background-image: url("../assets/deal-bloom.png");
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    border-radius:14px ;
}

.left-bottom{
    grid-column: 1/2;
    margin-top: 20px;
    height: 170px;
    background-image: url("../assets/deal-ana.png");
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    border-radius:14px ;
}
.right-collage{
    background-image: url("../assets/deal-zabo.png");
    grid-column: 2/3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    border-radius:14px ;
}


/* join section style */

.join{
    margin-top: 120px;
    background-image: url("../assets/news-letter-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    padding: 199px 0;
}

.join-title{
    color: white;
}

.join form input{
    max-width: 644px;
    width: 100%;
    background-color: white;
    padding: 16px; 
    border: none;
}

.join form button{
     background-color: #E95A08;
    color: rgb(255, 255, 255);
    font-weight: 600;
    padding: 14px;
    border: none;
    max-width: 186px;
    width: 100%;
    font-size: 1rem;
    transform: translate(-4px);
    margin-top: 24px;
}



/* mobile responsive */

@media screen and (max-width:576px) {
    .navbar{
        margin: 34px 20px;
    }

    .nav-right ul{
        display: none;
    }
    .hero{
        flex-direction: column-reverse;
        gap: 28px;
    }

    .hero-content,
    .plants, 
    .lover,
    .deal{
    padding:20px;
    }

    .hero-title{
        font-size: 2.5rem;
    }
    .hero-image img{
        width: 100%;
        display: inline-block;
    }

    .plants-card-container{
        grid-template-columns: repeat(2,1fr);
    }

    .plants-card-container .card:nth-child(7) ,
    .plants-card-container .card:nth-child(8){
        display: none;
    }

    .lover{
        flex-direction: column;
    }

    .lover-badge{
        display: none;
    } 

    .deal-collage{
        display: flex;
        flex-direction: column;
    }
    .left-top,
    .left-bottom,
    .right-collage{
        height: 200px;
    }
    .right-collage-title{
        font-size: 1.25rem;
    }
    
    .join{
        padding: 60px 0;
    }
    .join-title{
        font-size:1.5rem ;
    }

    .join form input{
        width: 218px;
    }
    .join form button{
        width: 100px;
        margin-top: 16px;
    }
}
