@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}



/* shared style */

.container{
    max-width: 1140px;
    margin: 0 auto;
}

.flex{
    display: flex;
}

.noto{
    font-family: "Noto Serif", serif;
}

.orange{
    color: #E95A08;
}

/* navbar style */

.navbar {
    justify-content: space-between;
    margin-top:54px ;
    align-items: center;
}

.nav-logo{
    font-weight: 800;
    font-size: 2.5rem;
    margin-top: 0;
}

.nav-logo span{
    color: #E95A08;
}

.nav-links{
    list-style: none;
    gap: 48px;
}


.nav-links li:nth-child(1) a {
  font-weight: 700;
  color: #252432;
}

.nav-links li:nth-child(2) a,
.nav-links li:nth-child(3) a{
    font-weight: 400;
    color: #8987A1;
}

.nav-links a{
    text-decoration: none;
}

.nav-right{
    gap: 48px;
}

/* hero section style */

.hero{
    margin-top: 120px;
    align-items: flex-end;

}

.hero-content{
    flex: 1;
}
.hero-title{
    font-weight: 700;
    font-size: 4rem;
}
.hero-des{
    color: #00000080;
    font-size: 1.25rem;
}
.hero-image img{
    width: 100%;
    display: block;
    flex: 1;
}






/* mobile responsive */

@media screen and (max-width:576px) {
    .navbar{
        margin: 34px 20px;
    }

    .nav-right ul{
        display: none;
    }
    .hero{
        flex-direction: column-reverse;
        gap: 28px;
    }

    .hero-content{
        padding: 20px;
    }

    .hero-title{
        font-size: 2.5rem;
    }
    .hero-image{
        width: 100%;
        display: inline-block;
    }
}
